<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ErkeSmx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ErkeSmx.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RePassw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>#FFFF9999</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>Pack://application:,,,/Image/Back/Pick.png</value>
            </setting>
            <setting name="Filling" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Brigh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Blur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Acting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActingIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ActingName" serializeAs="String">
                <value />
            </setting>
            <setting name="ActingPasswd" serializeAs="String">
                <value />
            </setting>
            <setting name="Synchronize" serializeAs="String">
                <value>True</value>
            </setting>
        </ErkeSmx.Properties.Settings>
    </userSettings>
</configuration>
